/*  basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/*  Flexbox Layout */
header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

article {
  flex: 2;
  padding: 20px;
  background-color: #f4f4f4;
}

aside {
  flex: 1;
  padding: 50px;
  background-color: #ddd;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

footer p {
  margin-top: 5px;
  font-size: 14px;
}

/* Responsive design */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  aside {
    margin-top: 20px;
  }
}